<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.css">
    <title>Head Teacher</title>
</head>
<body>
    <style>
        .teacher-cont{
            display: flex;
            padding: 1.5em;
        }

        .teacher-cont > .name-cont, .teacher-cont> i, .teacher-cont > a {
            margin-left: auto;
        }

        .mi-clase {
            background-color: #1F8A70;
            color: #ffffff;
        }

        .dataTables_length{
            margin-bottom: 2em;
        }

    </style>

    <div class="container-fluid teacher-cont bg-primary">
        <div style="display: flex; width: 50%; justify-content: end;" class="name-cont">
            <i style="color: white; font-size: 1.9em;" class="fas fa-chalkboard-teacher me-2"></i>
            <h3 style="color: white;">{{request.user.user_teacher}}</h3>
        </div>
        <a style="color: white; font-size: 1.3em; text-decoration: none;" href="{% url 'logout' %}">Logout</a>
    </div>

    <div class="container-fluid mb-5" style="padding-left: 3em; padding-right: 3em; padding-top: 3em;">
        <h5 class="text-center text-decoration-underline mt-5 mb-5">
            Students from classroom <span style="color: #F15A59;">"{{ request.user.user_teacher.classroom_set.first }}"</span> without schedule:
        </h5>
        <table id="table_student" class="table table-striped table-hover border-secondary">
            <thead class="table-dark">
                <tr>
                    <th class="text-center">Student</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student_list %}
                    <tr>
                        <td class="text-center">{{ student.name }}</td>
                        <td class="text-center">{{ student.email }}</td>
                        <td class="text-center">{{ student.phone }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <!-- DataTable -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.js"></script>
    <!-- Custom Script for DataTable-->
    <script>
        $(document).ready( function () {
            $('#table_student').DataTable({
                "language": {
                    "lengthMenu": "Show _MENU_ records per page",
                    "zeroRecords": "No records to display",
                    "info": "Displaying _PAGE_ from _PAGES_",
                    "infoEmpty": "No records availables",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "search": "Search:",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                }
            });
        });
    </script>
</body>
</html>