<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Crear Goal</title>
</head>
<style>
    .errorlist{color: #FF0303}
</style>
<body class="bg-primary">
    <div class="container-fluid d-flex justify-content-center bg-primary p-3" style="color: white">
        {% if create_new_goal %}
            <h2 class="text-center p-1">Creación de Objetivos</h2>
        {% else %}
            <h2 class="text-center p-1">Actualización de Objetivo</h2>
        {% endif %}
            
    </div>
    <div class="d-flex justify-content-center align-items-center container-fluidp-5 bg-white" style="height: 20em;" >
        <form method="post" style="width: 50%;" class="mt-5 mb-5">
            {% csrf_token %}
            {{form.as_p}}
            <div class="container mt-5 w-100 d-flex gap-3">
                {% if create_new_goal %}
                    <button type="submit" class="btn btn-danger w-50" style="font-size: 1.1em;">Crear Objetivo</button>
                {% else %}
                    <button type="submit" class="btn btn-danger w-50" style="font-size: 1.1em;">Actualizar Objetivo</button>
                {% endif %}
                <a href="{% url 'home_teachers' %}" class="btn btn-danger w-50" style="font-size: 1.1em;">Cancelar Acción</a>
            </div>
        </form>
    </div>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>       
    <script>

        // Code for select classroom

        const selectClassroom = document.getElementById('id_classroom')

        const classroomOptionSelected = document.createElement('option');
        classroomOptionSelected.value = '';
        classroomOptionSelected.selected = true;
        classroomOptionSelected.textContent = 'Seleccione un Classroom:';
        selectClassroom.insertBefore(classroomOptionSelected, selectClassroom.firstChild);

        //Code for select course

        const selectCourse = document.getElementById('id_course')

        const courseOptionSelected = document.createElement('option');
        courseOptionSelected.value = '';
        courseOptionSelected.selected = true;
        courseOptionSelected.textContent = 'Seleccione una Asignatura:';
        selectCourse.insertBefore(courseOptionSelected, selectCourse.firstChild);
    </script>

</body>
</html>


