certifi==2018.11.29
chardet==3.0.4
Django==4.0.*
djangorestframework==3.11
psycopg2-binary==2.9.3
Pillow==9.2.0
drf-yasg==1.20.0
django-crontab==0.7.1
django-crispy-forms==1.14.0
djangorestframework-datatables==0.7.0
django-grappelli==3.0.4